/* CSS insipiration via Vulfpeck - vulfpeck.com*/
pre {
    font-family: "Courier", Courier, monospace;
    font-size: 13.0px;
    width: 320px;
    position: relative;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

a:link {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

